
html,body{
	height: 100%;
	font-family:verdana;
    background-color: gray;
}
.flotar{
	float: left;
}
.limpiar{
	clear: left;
}
.foto{
	display: block;
	width: 80%;
	height: 250px;

}
.absoluto{
	position: absolute;
}
.relativo{
	position: relative;
}
.boton{
	padding: 5px;
	background-color: orange;
}
.letraBlanca{
	color: white;
}
.contenedorFoto{
	width: 40%;
	height: 30%;
   margin-left: 5%;
   margin-top: 5%;
    padding-top: 5%
}
.azulFuerte{
	background-color: : #0c2b40;
}
.crema{
	background-color:  #fff8e7;
}
.naranja{

	background-color: #fbbb1c;
}
.amarillo{
	background-color: #FDD835;
}
.azul{
	background-color: #2e7a97;
 }
.inline-block{
	display: inline-block;
 }
.centrarImagen{
	margin-left: 10%;
 }
.texto{
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	text-align: justify;
}
.subtitulos{
	margin-top:5%;
	margin-left: 10%;
}
.centrarBtn{
	margin-left: 41%;
	margin-bottom: 5%;
}
.bck{
	display: block;
}

li{
	display: inline-block;
	margin: 15px;
	padding: 15px;
	list-style: none;
}
li:hover{
	cursor: pointer;
	background-color: #fbbb1c;
}
.derecha{
	float: right;

}
.margen {
	margin-right: 150px;
}
#laboratoria{
	width: 100%;
	top: 45%;
	margin-left: 0;
	text-align: center;
    position: absolute;
}
.portada{
    width: 100%;
    height: 55%;
    margin-top: -2%;
    background-color: #fbbb1c;
}
button:hover{
	cursor: pointer;
	background-color: #fbbb1c;
}

    

