html,body{
	height: 100%;
	margin-left: 10%;
}
.flotar{
	float: left;
}
.limpiar{
	clear: left;
}
.foto{
	width: 30%;
	height: 30%;
}
.absoluto{
	position: absolute;
}
.relativo{
	position: relative;
}
.boton{
	padding: 5px;
	background-color: orange;
}
.letraBlanca{
	color: white;
}
.contenedorFoto{
	width: 40%;
	height: 40%;
}
.azulFuerte{
	background-color: #0c2b40;
}
.crema{
	background-color:  #fff8e7;
}
.naranja{
	background-color: #f18728;
}
.amarillo{
	background-color: #fbbb1c;
}
.azul{
	background-color: #2e7a97;
}
.inline-block{
	display: inline-block;
}
a{
	text-decoration: none;
}
a:hover{
	background-color: #0c2b40;
	color: #fbbb1c;
}
.