.flotar{
	float: left;
}
.limpiar{
	clear: left;
}
.foto{
	width: 300px;
	height: 300px;
}
.absoluto{
	position: absolute;
}
.relativo{
	position: relative;
}
.boton{
	padding: 5px;
	background-color: orange;
}
.letraBlanca{
	color: white;
}
.contenedorFoto{
	width: 400px;
	height: 400px;
}
.azulFuerte{
	background-color: #0c2b40;
}
.crema{
	background-color:  #fff8e7;
}
.naranja{
	background-color: #fbbb1c;
}
.amarillo{
	background-color: #FDD835;
}
.azul{
	background-color: #2e7a97;
}

body{
	font-family: verdana;
}
/*Estilos de la sección Portada*/
#portada{
	width: 100%;
	height: 500px;
	margin-top: 0;
}

li{
	display: inline-block;
	margin: 15px;
	padding: 15px;
	list-style: none;
}

li:hover{
	cursor: pointer;
	background-color: #fbbb1c;/*Color anaranjado*/
}

.derecha{
	float: right;
}

.margen{
	margin-right: 150px;
}

#laboratoria{
	width: 50%;
	margin-top: 15%;
	margin-left: 25%;
	text-align: center;
}
