
html,body{
	height: 100%;
	font-family:verdana;
  background-color: gray;
}
.flotar{
	float: left;
	border-radius: 20px;
}
.foto{
	width: 60%;
	height: 300px;
	margin-top: 20px;
	border-radius: 20px;
}
.absoluto{
	position: absolute;
}
.relativo{
	position: relative;
}
.boton{
	padding: 5px;
	background-color: orange;
}
.letraBlanca{
	color: white;
}
.contenedorFoto{
	width: 30%;
	height: 30%;
	margin-left: 13%;
	margin-top: 2%;
	padding-top: 2%
}
.azulFuerte{
	color: white;
}
.crema{
	background-color:  #fff8e7;
}
.naranja{

	background-color: #fbbb1c;
}
.amarillo{
	background-color: #FDD835;
}
.azul{
	background-color: #2e7a97;
 }
.inline-block{
	display: inline-block;
	border-radius: 20px;
 }
.centrarImagen{
	margin-left: 20%;
 }
.texto{
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	text-align: justify;
}
.subtitulos{
	margin-top:5%;
	margin-left: 10%;
}
.centrarBtn{
	margin-left: 41%;
	margin-bottom: 5%;
}
.bck{
	display: block;
}

li{
	display: inline-block;
	margin: 15px;
	padding: 15px;
	list-style: none;
}
li:hover{
	cursor: pointer;
	background-color: #fbbb1c;
}
.derecha{
	float: right;

}
.margen {
	margin-right: 150px;
}
#laboratoria{
	width: 100%;
	margin-left: 0;
	text-align: center;
  position: absolute;
}
.portada{
    width: 100%;
    height: 100%;

}
#laboratoria > h2{
	font-size: 50px;
}
#laboratoria > span{
	font-size: 30px;
}
button:hover{
	cursor: pointer;
	background-color: gray;
}



.pie{
  margin-top: 50px;
	background-color: #fbbb1c;
	font-family: helvetica;
	height: 27px;
	width: 100%;
	padding: 4%;
}


.redes{
	width:40px;
	height:40px;
	margin-left: 15px;
	border-radius: 10px;



}
.foto:hover{
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);

}
